#Unnecessary Unity folders
Library
Temp

#Unnecessary Unity files
Assembly-*
*.sln
*.suo
*.userprefs
*/*/output_log.txt
*/obj/

#WINDOWS
# Windows image file caches
Thumbs.db 
WindowsLockFile

# Folder config file
Desktop.ini

*.odt*